.login-button{
  display:flex;
  justify-content:flex-end;
  margin:20px;
  cursor:pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display:flex;
  list-style-type: none;
}

.menu-list li{
  padding:10px;
}

.menu-area{
  display:flex;
  justify-content: center;
}

.search-area {
  display: flex;
  position: absolute;
  right: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 150px;
}

.search-area input[type="text"] {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}




/* 카드 hover */
.Card img:hover {
  transform: scale(1.2);
}

.Card img {
    width: 100%;
    height: auto;

}


/* login */
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

label {
  color: #2c2c2c;
  display: block;
  margin: 16px 0 8px;
}

.login input {
  border: 1px solid #d1d1d1;
  color: #ababab;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  padding: 16px 24px;
  width: 100%;
}

button {
  background-color: #cd2026;
  border: none;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 24px 0;
  padding: 16px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.login {
  margin: 120px auto;
  width: 360px;
}

.login-title {
  color: #cd2026;
  font-size: 36px;
  font-weight: 700;
  margin: 24px 0;
  text-align: center;
}

.login-forgot {
  text-align: right;
}

.login-forgot-link {
  font-size: 14px;
  color: #ababab;
}

.login-signup {
  font-size: 14px;
  text-align: center;
  color: #ababab;
}

.login-signup-link {
  color: #2c2c2c;
}


.product-img{
  display:flex;
  justify-content: flex-end;
}